<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44386" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.401\DotnetTools\dotnet-watch\6.0.401-servicing.22421.5\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;c:\program files\microsoft visual studio\2022\community\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44332/XACTAS.WEB/,ws://localhost:58054/XACTAS.WEB/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvv2nT/Tz0tDqM30kkOmFvUYa2dI43e6dx9FH9gcXA/f3n9TLgAim7cN8i9y7kGbbcpy6vpDt9PASCjJHkbC4hFakkhMS7NkzstcV+G1XcaM5p6sEKn3TXeCmRMdMzYEqekZ8uwSXiINjdri0TkvM8D+GzAp1LFgl2O9RtviiBXchNfCPkyP3dfeDrqmx9IXjSy7xxrTHFfPABnzlu17DbwI1WvDH08MDa/lA2lKtoZN3mq/LCgeExctNDFJzswHwOXCtEIb3iALhmC0dtK3CtpHhcyDL4neJrVlLZO6xUtcw/qYFeyrKaDYNI333izNFuqzFFIHeanXO9nw7aue5pQIDAQAB" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
          <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="2bf4edd6-ae65-482f-81dc-3877f3be648d" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <httpCookies requireSSL="true" httpOnlyCookies="true" />
    <compilation tempDirectory="C:\inetpub\vhosts\u1304518.plsk.regruhosting.ru\tmp" />
  </system.web>
</configuration>