<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XACTAS.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XACTAS.WPF.Properties.Settings>
            <setting name="VisualStudioPath" serializeAs="String">
                <value>C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\devenv.exe</value>
            </setting>
            <setting name="AndroidStudioPath" serializeAs="String">
                <value>C:\Program Files\Android\Android Studio\bin\studio64.exe</value>
            </setting>
            <setting name="IsDarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>ru-RU</value>
            </setting>
        </XACTAS.WPF.Properties.Settings>
    </userSettings>
</configuration>