@font-face {
    font-family: 'Cunia';
    src: url('../css/fonts/cunia.ttf');
    font-weight: normal;
    font-style: normal;
}

.btn {
    margin: 8px;
}

hr {
    color: darkorange;
    opacity: 1;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: orange;
}

body {
    background-color: var(--background);
    color: var(--color);
    margin: 0;
    padding: 0;
    text-align: center;
    font-display: swap;
}

.name-block {
    margin: 30px;
    font-weight: bold;
    color: var(--color);
}

.row {
    --bs-gutter-x: 0px;
}

.container-fluid {
    padding: 0;
}

/*hr {
    margin: 0 35%;
    background-color: darkorange;
    opacity: 1;
    border-radius: 4px;
}
*/
:root {
    --background: black;
    --color: white;
    --toggler_style: url("../images/toggle/toggle-dark.webp");
}
/*#region NavBar*/
/*#region DropDown Select languages*/
.li-select-language ul li a img {
    height: 20px;
    margin-right: 5px;
}

.li-select-language ul li a span {
    font-size: 17px;
    color: var(--color);
}

.dropdown-menu {
    background-color: var(--background);
}

.dropdown-item:hover {
    background-color: darkorange;
}
/*#endregion*/
.navbar-brand {
    font-family: 'Cunia';
    color: var(--color);
    font-size: 26px;
}
/*
    .navbar-brand > img {
        margin-right: 8px;
    }*/

.navbar {
    padding: 0;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(255,255,255,.3);
}

.nav-link {
    color: var(--color);
    font-weight: bold;
}

    .nav-link:hover, .navbar-brand:hover {
        color: blueviolet;
    }

/*.navbar-toggler {
    border-color: var(--color);
}*/

.navbar-toggler-icon {
    background-image: var(--toggler_style);
}

.navbar-nav > li > a > img {
    height: 20px;
    margin-right: 6px;
    vertical-align: sub;
}

/*.navbar-brand-logo {
    box-shadow: 0 0 10px var(--color);
    background-color: var(--background);
    border-radius: 5px;
}
*/
/*.nav-item {
    margin-right: 8px;
}*/
/*#endregion*/
/*#region Buttons Bottom Menu*/
#buttons_menu {
    position: fixed;
    bottom: 5px;
    width: 44px;
    right: 5px;
    height: auto;
    cursor: pointer;
}

#butmenu_changetheme {
    width: 40px;
    height: 40px;
    padding: 4px;
    border-radius: 50px;
    box-shadow: 0 0 10px var(--color);
    margin: 2px;
}

#butmenu_settings {
    background-color: var(--background);
}

#butmenu_changetheme {
    background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 50%);
}
/*#endregion*/
/*#region Scroll Bar*/
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: darkorange;
    border-radius: 10px;
    position: absolute;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: gray;
    }
/*#endregion*/
/*#region Top Block Section*/
.topBlockSection {
    /*  background: linear-gradient(-45deg, #7acf00, #00a2ff);*/
    /* background-size: 400% 400%;*/
    /*    animation: gradient 5s ease infinite;*/
    padding-top: 50px;
    background-image: url('../images/back.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 20px;
}

    .topBlockSection h1 {
        font-family: 'Cunia';
        color: white;
        text-align: center;
        font-size: 40px;
        margin: 10px;
    }

    .topBlockSection h2 {
        color: white;
        padding-bottom: 60px;
        font-size: 25px;
    }

.xactas-logo {
    /*    box-shadow: 0 0 10px black;*/
    border-radius: 25px;
    height: 200px;
    margin-top: 60px;
}

/*#region Download Block*/
.download-block {
    border-radius: 15px;
    box-shadow: 0 0 10px white;
    margin: 0 auto;
    margin-bottom: 30px;
    width: fit-content;
    background: var(--background);
}

    .download-block > div > p {
        font-size: 17px;
        font-weight: bold;
        color: var(--color);
    }

    .download-block > img, .download-block > a > img {
        margin: 5px 10px 5px 10px;
    }

    .download-block > div {
        vertical-align: top;
        margin: 5px 0px;
    }
/*#endregion*/
/*#endregion*/
/*#region Carousel Galary*/
/*.carousel {
    width: 50%;
    margin: 0 auto;
    height: fit-content;
}*/
/*#endregion*/
/*#region Rider*/

/*.rider-logo-block > a {
    width: 100px;
}*/

.corner-block {
    margin: 20px;
    box-shadow: 0 0 10px var(--color);
    border-radius: 10px;
    width: 400px;
    vertical-align: sub;
}

    .corner-block > div > p, .corner-block > p {
        margin: 10px;
        margin-left: 20px;
        font-weight: bold;
        font-size: 15px;
        color: var(--color);
    }
/*#endregion*/
/*#region Footer*/
/*.footer {
    text-align: center;
}*/

.footer h3 {
    font-size: 20px;
    letter-spacing: 20px;
    font-weight: bold;
    /*        margin: 5px;*/
    /*      font-family: 'Cunia';*/
}

/*.iconsupport img {
    height: 35px;
    margin-top: 10px;
}*/

.copyright {
    margin: 15px;
}
/*#endregion*/
/*#region Style for Other Devices*/
@media screen and (max-width: 1200px) {
    .rider-block {
        padding: 20px;
    }
}
/*#endregion*/
/*#region Shared*/
.shadow-corner {
    box-shadow: 0 0 10px var(--color);
    border-radius: 10px;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
    float: left;
}
/*#endregion*/
/*#region Ui Block*/
.ui-block {
    margin: 10px;
    padding: 3px 20px;
}

    .ui-block > p {
        /*     font-family: 'Cunia';*/
        font-weight: bold;
        margin-right: 10px;
        font-size: 21px;
    }

    .ui-block > span > img {
        height: 40px;
        cursor: pointer;
    }
/*#region Popover*/
.popover {
    background-color: var(--background);
    box-shadow: 0 0 10px var(--color);
}

.popover-body {
    color: var(--color);
    padding: 5px 10px;
}
/*#endregion*/
/*#endregion*/
